#app-container {
	margin-top: 50px;
	
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}


.lists-container{
	padding: 10px 15px;
	margin: auto;
	bottom: 70px;
	width: 75%;
	box-sizing: border-box;
}

.divItemCard, #add-new-list {
	border: 3px dotted #D1D1D1;
	background-color: #E6E5E3;
	border-radius: 5px;
	height: 240px;
	width: 160px;
	display: table-cell;
  	text-align: center;
	vertical-align: middle;
}

#add-new-list:hover{
	opacity: 0.8;
}

div.cardDiv {
	border: 3px dotted #D1D1D1;
	height: 240px;
	width: 240px;
	display: table-cell;
  	text-align: center;
	vertical-align: middle;
	margin : 15px;
	border: 1px solid black;
	background-color:yellow;
	box-shadow: 10px 10px 5px #888888;
}


div.cardDiv .cardTitleDiv {
	font-weight: bold;
}

div.cardDiv .lastUpdatedDateDiv {
	position: absolute;
	right: 5px;
	bottom: 0px;
	padding: 3px;
	font-style: italic;
	color: gray;
}

#newCardDiv{
	display: table-cell;
	text-align: left;
	padding: 15px;
}

#newCardDiv div.label{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: black;
	text-align: left;
}

.deleteBar {
	height: 60px;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: -70px;
	width: 100%;
	background: black;
}

.deleteIcon {
	font-size: 30px;
}


.modal-bod {
	padding: 15px;
}


