.lists-container{
	padding: 80px 15px;
	text-align: center;
	box-sizing: border-box;
}

.divItemCard, .add-new-list {
	border: 3px dotted #D1D1D1;
	background-color: #E6E5E3;
	border-radius: 5px;
	height: 240px;
	width: 160px;
	display: table-cell;
  	text-align: center;
	vertical-align: middle;
}


