#app-container {
	margin-top: 70px;		
}


.lists-container{
	padding: 10px 15px;
	margin: auto;
	bottom: 70px;
	width: 75%;
	border: 1px solid gray;
	box-sizing: border-box;
}

.divItemCard, #add-new-list {
	border: 3px dotted #D1D1D1;
	background-color: #E6E5E3;
	border-radius: 5px;
	height: 240px;
	width: 160px;
	display: table-cell;
  	text-align: center;
	vertical-align: middle;
}

#add-new-list:hover{
	opacity: 0.8;
}

div.cardDiv {
	border: 3px dotted #D1D1D1;
	background-color: #E6E5E3;
	height: 240px;
	width: 240px;
	display: table-cell;
  	text-align: center;
	vertical-align: middle;
	margin : 5px;
	border: 1px solid black;
}

#newCardDiv{
	display: table-cell;
	text-align: left;
	padding: 15px;
}

#newCardDiv div.label{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: medium;
	font-weight: bold;
	color: black;
	text-align: left;
}

.deleteBar {
	height: 60px;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: -70px;
	width: 100%;
	background: black;
}

.deleteIcon {
	font-size: 30px;
}


.modal-bod {
	padding: 15px;
}


